@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}

body{
    font-family: 'Langar', cursive;
    background: #D66D75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.quiz-container{
    background-color: rgb(235, 232, 233);
    width: 600px;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
}

ul{
    list-style: none;
}

h2{
    margin: 0;
}

ul li {
    margin: 1rem 2rem;
    font-size: 1.1rem;
}

ul li label{
    cursor: pointer;
}

.quiz-header{
    padding: 1rem;
}

button{
    background-color: #ee5253;
    font-family: inherit;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    display: block;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color:#f53838 ;
}
